body{
    margin: 0%;
    padding: 0%;
    font-family: sans-serif;
    background: rgba(0, 0, 0, 0.7) url('https://www.wallpapertip.com/wmimgs/122-1221570_hd-backgrounds-education-education-wallpapers-hd-page-educational.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.box h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style:normal;
}

.box{
    width: 300px;
    padding: 40px;
    border: 2px solid rgb(99, 5, 5) ;
    border-radius: 5px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    background: transparent;
    text-align: center;
    box-shadow: 0 0 8px #2ec742, 0 0 8px #2e75c7, 0 0 8px #b52ec7;
    
}
.box input[type = "text"],.box input[type = "password"]{
    border: 0;
    background: none;
    color: white;
    display: block;
    font-size: 12px;
    font-family: sans-serif;
    margin: 20px auto;
    text-align: center;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    border: 2px solid #549bc7;
    transition: 0.25s;
    border-radius: 24px;
    
}

.box input[type = "text"]:focus,.box input[type = "password"]:focus{
    border: solid #2ec742;
    width: 280px;
}
/* .box input[type = "text"]:hover,.box input[type = "password"]:hover{
    box-shadow: 0 0 10px #2ec742, 0 0 40px #2ec742, 0 0 80px #2ec742;

} */


#btn{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    padding: 14px 10px;
    width: 100px;
    outline: none;
    border: 2px solid #070a08;
    transition: 0.25s;
    border-radius: 24px;
    cursor: pointer;
    
}

#btn:hover{
    background-color:  #6dabfc;
    /* box-shadow: 0 0 10px #2ec742, 0 0 40px #2ec742, 0 0 80px #2ec742; */
    box-decoration-break: slice;

}
@media only screen and (max-width: 1140px){
    body{
        background: rgba(0, 0, 0, 0.7) url('https://www.wallpapertip.com/wmimgs/122-1221570_hd-backgrounds-education-education-wallpapers-hd-page-educational.jpg');
        background-repeat: no-repeat;
    }
    .box-resp{
        top: 90%;
        transition: all 0.5s ease-out;
    }

}